{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>NetChe</title>
    <link rel="stylesheet" href="{% static "netche/reset.css" %}">
    <link rel="stylesheet" href="{% static "netche/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>


<body>
    <div class="header">
        <h1>NetChe</h1>
        <p>Ultra Useful Network Check Tool</p>
    </div>
    <div class="cp_iptxt">
        <form id="address_field" method="post">
            {% csrf_token %}
            <input class="ef" type="text" name="address" placeholder="">
            <label>Address</label>
        </form>
    </div>
    <fieldset form="address_form">

        <div class="mode_toggle">

            <input type="radio" name="mode" value="ping" id="ping" checked>
            <label for="ping">Ping</label>
            <input type="radio" name="mode" value="traceroute" id="traceroute">
            <label for="traceroute">Route</label>
            <input type="radio" name="mode" value="port" id="port">
            <label for="port">Port</label>
            <input type="radio" name="mode" value="dns" id="dns">
            <label for="dns">DNS</label>
            <input type="radio" name="mode" value="female" id="more">
            <label for="more">More</label>
        </div>
    </fieldset>
</body>

</html>