@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,900&display=swap&subset=japanese');
html {
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    background: linear-gradient(200deg, #ff4da6, #ff5b56);
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body>div.header {
    height: 25%;
    color: rgb(230, 230, 230);
    display: block;
    text-align: center;
}

.cp_iptxt {
    position: relative;
    width: 50%;
    margin: 40px 3%;
    margin-bottom: 80px;
}

.cp_iptxt input[type='text'] {
    color: rgb(230, 230, 230);
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 200%;
    text-align: center;
}

.cp_iptxt input[type='text']:focus {
    outline: none;
}

.ef {
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid rgb(230, 230, 230);
    background-color: transparent;
}

.ef~label {
    position: absolute;
    z-index: -1;
    top: 32px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 0.5px;
    color: rgb(170, 170, 170);
}

.ef:focus~label, .cp_iptxt.ef~label {
    transition: 0.3s;
    color: #525252;
}

h1 {
    font-size: 8rem;
    margin-bottom: 1.5rem;
}

p {
    font-size: 2rem;
}

fieldset {
    width: 70%
}

.mode_toggle {
    width: 100%;
    display: flex;
}

.mode_toggle input[type=radio] {
    display: none;
}

.mode_toggle label {
    width: 100%;
    color: white;
    text-align: center;
    border: 1px solid;
    padding: 15px 10px;
    margin: 2px;
}

.mode_toggle input[type="radio"]:checked+label {
    background: #ff2290;
    color: #ffffff;
}